# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/
crossbin/

# Daemon executables & libraries
daemons/lib-copy-offload/**/*.[ao]
daemons/lib-copy-offload/**/tester
daemons/copy-offload-testing/certs
certs/

*.swp
*.swo
*~
