# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/
rpms/
crossbin/

# Daemon executables & libraries
daemons/compute/server/nnf-dm
daemons/compute/client-c/client
daemons/compute/client-c/client.a
daemons/compute/server/server
daemons/compute/client-go/client-go
daemons/lib-copy-offload/**/*.[ao]
daemons/lib-copy-offload/**/tester
daemons/copy-offload-testing/certs
daemons/copy-offload/certs

*.swp
*.swo
*~
