apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager-controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
            - --controller=manager
          image: controller:latest
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: localtime
              mountPath: /etc/localtime
              readOnly: true
            - name: tzdata
              mountPath: /usr/share/zoneinfo
              readOnly: true
      volumes:
        - name: localtime
          hostPath:
            path: /etc/localtime
        - name: tzdata
          hostPath:
            path: /usr/share/zoneinfo
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
---
apiVersion: nnf.cray.hpe.com/v1alpha10
kind: NnfDataMovementManager
metadata:
  name: manager-controller-manager
  namespace: system
spec:
  selector:
    matchLabels:
      cray.nnf.node: 'true'
  hostPath: '/mnt/nnf'
  mountPath: '/mnt/nnf'
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: '25%'
  podSpec:
    containers:
      - name: worker
        image: nnf-mfu:latest
        command:
          - /usr/sbin/sshd
        args:
          - -De
        volumeMounts:
          - name:  worker-config
            mountPath: /etc/ssh/sshd_config
            subPath: sshd_config
          - name: localtime
            mountPath: /etc/localtime
            readOnly: true
          - name: tzdata
            mountPath: /usr/share/zoneinfo
            readOnly: true
      - name: manager
        command:
          - /manager
        args:
          - --leader-elect=false
          - --controller=node
        image: controller:latest
        env:
          - name: NNF_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        volumeMounts:
          - name: localtime
            mountPath: /etc/localtime
            readOnly: true
          - name: tzdata
            mountPath: /usr/share/zoneinfo
            readOnly: true
    volumes:
      - name: worker-config
        configMap:
          name: nnf-dm-worker-config
      - name: localtime
        hostPath:
          path: /etc/localtime
      - name: tzdata
        hostPath:
          path: /usr/share/zoneinfo