apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager-controller-manager
  namespace: system
spec:
  template:
    spec:
      imagePullSecrets:
        - name: name_of_secret
---
apiVersion: nnf.cray.hpe.com/v1alpha9
kind: NnfDataMovementManager
metadata:
  name: manager-controller-manager
  namespace: system
spec:
  template:
    spec:
      imagePullSecrets:
        - name: name_of_secret
