---
apiVersion: nnf.cray.hpe.com/v1alpha10
kind: NnfContainerProfile
metadata:
  name: copy-offload-template
  namespace: nnf-system
data:
  storages:
    - name: DW_JOB_my_storage
      optional: false
    - name: DW_GLOBAL_lus
      optional: false
  numPorts: 1
  retryLimit: 2
  # Copy offload needs to use mpiSpec to use the mpi-operator model
  mpiSpec:
    copyOffload: true
    launcher:
      containers:
        - name: copy-offload-srvr
          image: nnf-dm-copy-offload:latest
          command:
            - /nnf-copy-offload
            - --cert
            - $(TLS_CERT_PATH)
            - --cakey
            - $(TLS_KEY_PATH)
            - --tokenkey
            - $(TOKEN_KEY_PATH)
            - --addr
            - :$(NNF_CONTAINER_PORTS)
          # The QPS/BURST settings are used by the nnf-dm-copy-offload
          # server when communicating with the Kubernetes API server.
          env:
            - name: NNF_REST_CONFIG_QPS
              value: '50'
            - name: NNF_REST_CONFIG_BURST
              value: '100'
    worker:
      containers:
        - name: copy-offload-worker
          image: nnf-dm-copy-offload:latest
